{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "importOrder": [
    "^(react|@react)",
    "<THIRD_PARTY_MODULES>",
    "^@mui",
    "^@(app|helpers|components|schemas|router|screens)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}